@import "comman.scss";
.first{
    width:100%;
    height:70px;
    margin-bottom:20px;
    .one{
        width:1106px;
        height:70px;
        padding-left:34px;
        margin:0 auto;
            .header1{
            width:1066px;
            height:70px;
            font-size:12px;
            img{
                float:left;
                margin-right:300px;
            }
            span{
                float:left;
                line-height:16px;
                height:16px;
                color:#666;
                margin:35px 5px 0 0;
            }
            a{
                float:left;
                line-height:16px;
                color:#666;
                height:16px;
                margin-top:35px;
                text-decoration:underline;
            }
        }
    } 
}
.second{
    width:100%;
    height:100%;
    .two{
        width:1106px;
        padding-left:34px;
        margin:0 auto;
        .header2{
            width:1066px;
            height:630px;
            overflow:hidden;
            position:relative;
            margin-bottom:20px;
                .header3{
                width:460px;
                overflow:hidden;
                 float:left;
                 position:absolute;
                 left:-460px;
                 top:0;
                .header4{
                    width:420px;
                    padding: 0 20px;
                  
                    .header5{
                         width:420px;
                         height:66px;
                         line-height:66px;
                        h3{
                         float:left;
                         margin-right:220px;
                        }
                       span{
                        float:left;
                        font-size:12px;
                        color:#333;
                        }
                        a{
                         float:left; 
                         font-size:12px;
                         color:#333;
                         font-weight:600;
                        }    
                    }
                    .header6{
                        width:370px;
                        margin-right:50px;
                        padding-top:10px;
                        border-top:1px solid #eee;
                        p{
                            height:26px;
                            padding:7px 0;
                        }
                        .p1{
                            width:168px;
                            font-size:12px;
                            color:#333;
                            margin-left:100px;
                            margin-top:30px;
                        }
                        label{
                            width:100px;
                            height:26px;
                            line-height:26px;
                            display:inline-block;
                            text-align:right;
                            font-size:12px;
                            margin-right:10px;
                        }
                        input{
                            width:180px;
                            height:26px;
                            margin-right:5px;
                        }
                        .t10{
                            width:60px; 
                            margin-right:20px;
                        }
                        .t11{
                            width:64px;
                            border:none;
                            height:30px;
                            outline:none;
                            background:orange;
                            color:#fff;
                            font-size:16px;
                            text-align:center;
                        }
                        .ipt{
                            width:135px;
                            height:43px;
                            background:#c22b34;
                            border-radius:5px;
                            outline:none;
                            border:none;
                            margin-left:118px;
                            color:#fff;
                        }
                        span{
                            color:red;
                        }
                        .s{
                            display:inline-block;
                            width:40px;
                            height:14px;
                            font-size:12px;
                            text-align:center;
                            color:#fff;
                            background:#c4c4c4;
                            margin-right:10px;
                        }
                        .span1{
                            margin-left:110px;
                        }
                         
                    }
                } 
            }
             .header7{
                    float:left;
                    margin-left:50px;
                    margin-top:40px;
                    position:absolute;
                    right:-606px;
                    top:0;
                }
        }    
    }
}
.main-seven{
    width:100%;
    height:100%;
     .main7{
        width:1106px;
        padding-left:34px;
        margin:0 auto;
        text-align:center;
        .list28{
            width:1066px;
            border-bottom:1px solid #efefef;
        }
    }  
}
.main-eight{
    width:100%;
    height:100%;
     .main8{
        width:1106px;
        padding-left:34px;
        margin:0 auto;
        .list29{
            width:1066px;
            height:40px;
            border-bottom:1px solid #efefef;
            p{
                float:left;
                line-height:40px;
                height:40px;
                font-size:12px;
                color:#9999a5;
                margin-right:10px;
            }
            a{
                width:68px;
                float:left;
                line-height:40px;
                height:40px;
                font-size:12px;
                color:#999;
            }
        }
    }  
}
.footer{
    width:100%;
    height:100%;
     .foot{
        width:1106px;
        height:254px;
        padding-left:34px;
        text-align:center;
        margin:0 auto;
        overflow:hidden;
        .last{
           width:1066px;
           padding-top:17px;
           h1{
               color:#454344;
               font-weight:100;
               font-size:30px;
               height:60px;
               
           }
           p{
               color:#333333;
               font-size:12px;
               height:28px; 
               line-height:28px;
               span{
                   color:#cc0000;
                   font-weight:600;
               }
           }
           .lastone{
               height:107px;
               img{
                   margin:0 5px 20px 0;
               }
           }
        }
    }
}
.cbl{
    width:35px;
    height:500px;
    padding-top:100px;
    background:#9699a2;
    position:fixed;
    right:0;
    top:33px;
    li{
       width:35px;
       height:35px;
       text-align:center;
       border-bottom:1px solid #bfc0c4;
       
        .iconfont{
            font-size:24px;
            line-height:35px;
        }
        .icon-history,.icon-favorites,.icon-tubiao4,.icon-qq{
            color:white;
        }
        .icon-aliwangwang{
            color:#3f9ad9;
        }
        .icon-weixin2{
            color:#a8cd46;
        }
    }
    li:nth-child(1){
          border-top:1px solid #bfc0c4; 
       }
     
}
.tck{
    width:200px;
    height:300px;
    position:fixed;
     background:#fff;
    border:1px solid #9699a2;
    right:-250px;
    top:120px;
    z-index:10;
    .tck1{
        height:30px;
        background:#9699a2;
        a{
           float:left;
           color:white;
           height:30px;
           line-height:30px;
           margin-left:130px;
        }
    }
}
.returntop{
    width:35px;
    height:80px;
    position:fixed;
    right:-2px;
    bottom:20px;
    border:1px solid gray;
    p:nth-child(1){
        height:40px;
        line-height:40px;
       .icon-dayuhao-copy-copy-copy{
            text-align:center;
            font-size:30px;
            color:#ff4234;
            margin-left:2px;
       } 
       
    }
    p:nth-child(2){
        height:40px;
        line-height:20px;
        font-size:14px;
        text-align:center;
    }
}
